<!DOCTYPE html>
<html>

<head>
    <title>TMR : Index Page</title>
</head>

<body>

    <h1>The Matrix Recoded : INDEX PAGE</h1>
    <h2>Login</h2>
    <form>

        <div id="loginFormDIV">
            <label for="userLogin">Email:</label>
            <input type="text" id="userLogin" name="userLogin" placeholder="example@email.com" required />
            <br />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <br />

        </div>
        <input type="submit" name="login" value="Login" />


    </form>

    <hr />

</body>

</html>