<!DOCTYPE html>
<html>

<head>
    <title>TMR : Login Page</title>
</head>

<body>

    <h1>The Matrix Recoded : LOGIN PAGE</h1>
    <div id="login">
        <form method="post">
        <h2>Login</h2>
            <table>
                <tr>
                    <td>
                        <input type="text" name="username" required="required" placeholder="Username" />
                        <input type="password" name="password" required="required" placeholder="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <hr />

</body>

</html>